*{
    padding: 0;
    margin: 0;
box-sizing: border-box;
}
body{
   font-size: 20px;
font-family: sans-serif;
}

header, footer{

  background: #222831; 
  color: white; 
  height: 80px;
}

h1{
 font-size: 250%;
margin-bottom: 20px;
border-bottom:  1px solid black;
}
article{
    width: 60vw;
margin: 0px auto;
padding: 40px;
}
img{
    width: 100%;
margin-bottom: 40px;
border-radius: 5px;
transition: 0.2s transform;
margin-top: 30px}

img:hover{
transform: scale(1.10);
}

.hallo{
    margin-left: 50px;
    margin-right: 50px ;
}
.movebro{ margin-left: 350px;}

.headhallo{ margin-left: 350px;

}
.headermove{
    margin-left: 80px;
}


p{
margin-bottom: 40px;

}

p:last-of-type{

    margin-bottom: 0;
}
footer{

height: 500px;
display: flex;
align-items: center;
}

footer > p{ margin-left: 800px;
     
}

button{
   
    margin-left: 10px;
    margin-top: 10px;
    font-size: 25px;
    font-family:  Verdana;
 
    background-color: darkslateblue;
    color: yellowgreen;}